
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Variables d'environnement (ne jamais committer)
/.env.dev
/.env.test
/deploy/

# Traductions auto-générées par Symfony (EasyAdmin, validators, etc.)
/translations/EasyAdminBundle.*.xlf
/translations/_undefined*.xlf
/translations/messages.*.xlf
/translations/security.*.xlf
/translations/validators.*.xlf

# Fichiers personnels
/Johan_Louap_CV.pdf
/Johan_Louap_CV.html
/*.png
/*.jpg
